* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form{
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
}

.container {

    max-width: 40%;
    max-height: 100%;
    background: #A1ADAD;
    padding: 20px 10px;
    margin: auto;
    margin-top: 8px;
    border-radius: 20px;
    min-height: 65vh;
    display: flex;
    flex-direction: center;
    justify-content: center;
    
}
.container button{
    padding: 10px;
    margin-top: 10px;
    margin-left: 28%; 
  }

  .form-control{
    width: 90%;
}

[id=titulo_esp] { width: 70%;}
[id=fecha_esp] { width: 30%;}
[id=descrip_esp] { width: 70%;}


.container h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}


