.header {
    background:rgb(3, 93, 134);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 0.8rem 0;
}

.header h1 {
    font-size: 35px;
    text-align: center;
}

 .logo-nav-contanier {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header a {
     color: white;
     text-decoration: none;

 }

 .footer {
    margin: auto;
    background: rgb(3, 93, 134);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.8rem 0;
    justify-content: center;
    text-align:center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0%;
    padding: 0.8rem 0;

 }

 .footer .contaniers {
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
 }

#logo{
    left: 3.2%;
    margin: all;
    width: 75px;
    height: 95px;
    background: url(logo.jpeg);
    float: left;
    margin-right: 50px;
    position: relative;
    background-size: 100% 100%;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul.show{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
 .navigation ul li{
     display: inline-block;
 }

 .navigation ul li a{
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: blue;
}

@media only screen and (max-width: 800px) {
    #logo{
        left: 3.2%;
        margin: all;
        width:55px;
        height:75px;
        background: url(logo.jpeg);
        float: left;
        margin-right: 50px;
        position: relative;
        background-size: 100% 100%;
    }
    .navigation ul li{
        display: block;
    }

    .navigation ul li a{
       display: inline-block;
       padding: 0.5rem 1rem;
       transition: all 0.4s linear;
       border-radius: 5px;
   }

   .navigation ul li a:hover {
       background: blue;
   }
}
